@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin max-mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (max-width: calc(#{$size} - 1px)) {
		@content;
	}
}

@mixin white-container {
	padding: clamp(var(--spacing-rem-400, 2rem), 1rem + 2.5vw, var(--spacing-rem-700, 4rem));
	margin-bottom: var(--spacing-rem-400);
	background-color: var(--clr-neutral-100, white);
	border: 1px solid hsl(0 0% 0% / 0.05);
	border-radius: var(--borr-300, 1rem);
}

@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin modal($max-width: 73rem, $top: 14rem) {
	--margin-inline: 2.4rem;
	position: absolute;
	top: $top;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	width: min($max-width, 100% - 2 * var(--margin-inline));
}
