@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin max-mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (max-width: calc(#{$size} - 1px)) {
		@content;
	}
}

@mixin white-container {
	padding: clamp(var(--spacing-rem-400, 2rem), 1rem + 2.5vw, var(--spacing-rem-700, 4rem));
	background-color: var(--clr-neutral-100, white);
	border-radius: var(--borr-300, 1rem);
}
