@use '../../base/mixins' as mxn;

.selection-modal {
	--max-width: 73rem;
	--margin-inline: 2.4rem;
	@include mxn.white-container;
	position: absolute;
	top: clamp(12rem, 5rem + 10vw, 18.5rem);
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	width: min(var(--max-width), 100% - 2 * var(--margin-inline));
	box-shadow: 0 0 0 200vmax hsl(0 0% 0% / 0.5); // TODO: remove, now for better visibility

	&__close-button {
		--size: 4rem;
		--offset: 1.6rem;
		position: absolute;
		top: var(--offset);
		right: var(--offset);
		display: inline-grid;
		place-content: center;
		width: var(--size);
		aspect-ratio: 1;
		background: none;
		border: none;
		cursor: pointer;
	}

	&__desc {
		margin-bottom: var(--spacing-rem-500);
	}
}
