@use '../../base/mixins' as mxn;

.selection-modal {
	--top: clamp(12rem, 5rem + 10vw, 18.5rem);
	--max-width: 73rem;
	--margin-inline: 2.4rem;
	@include mxn.white-container;
	@include mxn.modal(var(--max-width), var(--top));
	display: none;
	box-shadow: 0 0 0 200vmax hsl(0 0% 0% / 0.5); // TODO: remove, now for better visibility

	&[data-open] {
		display: block;
	}

	&__close-button {
		--size: 4rem;
		--offset: 1.6rem;
		position: absolute;
		top: var(--offset);
		right: var(--offset);
		display: inline-grid;
		place-content: center;
		width: var(--size);
		aspect-ratio: 1;
		background: none;
		border: none;
		cursor: pointer;
	}

	&__desc {
		margin-bottom: var(--spacing-rem-500);
	}
}
