@use '../base/mixins' as mxn;

.custom-radio-button {
	display: flex;
	align-items: center;
	gap: var(--spacing-rem-300);
	@include mxn.mq(medium) {
		gap: var(--spacing-rem-400);
	}

	/* hiding default radio button */
	& input[type='radio'] {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		appearance: none;
		opacity: 0;
	}

	/* hover states */
	& input[type='radio']:not(:disabled):is(:hover, :focus) + &__button {
		--theme: var(--clr-primary-400);
		cursor: pointer;
	}

	& input[type='radio']:not(:disabled):is(:hover, :focus) ~ &__label {
		cursor: pointer;
		& > * {
			color: var(--clr-primary-400);
			font-weight: var(--fw-700);
		}
	}

	/* checked appearance for custom button */
	& input[type='radio']:checked + &__button {
		--theme: var(--clr-primary-400);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: var(--theme);
		}
	}

	/* custom radio button */
	&__button {
		--theme: hsl(0 0% 0% / 0.15);
		--size: 2.4rem;
		display: inline-block;
		width: var(--size);
		aspect-ratio: 1;
		border-radius: 50%;
		border: 1px solid var(--theme);
	}

	&__label {
		--gap: 0.4rem;
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		line-height: 1;
		@include mxn.mq(medium) {
			--gap: 1.6rem;
			flex-direction: row;
			align-items: center;
		}
	}
}
