@use '../base/mixins' as mxn;

.primary-header {
	position: relative;
	text-align: center;

	&__content {
		@include mxn.white-container;
		padding-top: clamp(5.2rem, 5vw, 5.6rem);
		padding-bottom: clamp(4rem, 5vw, 4.8rem);
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__primary-heading {
		margin-bottom: var(--spacing-rem-300);
		font-size: var(--fz-600);
	}

	&__button {
		font-size: var(--fz-header-button);
	}

	&__button-group {
		@include mxn.flex-between;
		margin-top: clamp(var(--spacing-rem-400), 4vw, 4rem);
	}
}
